footer.footer 
    .footer__logo 
        img(src='/img/logo-green-small.png' alt = 'Looper Logo')
    ul.footer__nav
        li: a(href='/landing') About us

    p.footer__copyright &copy; Developed by Paul Ritter under JB Media Team LLC.