extends base

block content
    section.section-header
        .header__hero
            .header__hero-overlay &nbsp;
            img.header__hero-img(src=`/img/studio3.jpeg`, alt=`P`)

        .heading-box
            h1.heading-primary
                span= "What is Loopey?"
            
    section.section-description
        .overview-box
            h4.card__sub-heading-2= "Loopey is a subscription based platform for independent music producers to offer their samples and loops as weekly sample packs.  The term loop or a sample is used interchangebly to describe the melodic, instrumental part of a beat."
        
        .description-box
            h4.card__sub-heading-2= "Loopey is still being developed, and is built with a heavy focus on the backend: developing a RESTful API with Node and Express, as well as the MongoDB architecture."