extends base 

block content
  main.main
    .login-form
      h2.heading-secondary.ma-bt-lg Create User Account
      form.form.form--producer
        .form__group
          label.form__label(for='producerName') Producer Name
          input#producerName.form__input(type='text', required)
        .form__group
          label.form__label(for='country') Country 
          input#country.form__input(type='text',placeholder='United States', required)
        .form__group
          label.form__label(for='prodStyle') Describe your style of production in a 1 to 2 words
          input#prodStyle.form__input(type='text', required)
        .form__group
          label.form__label(for='minSamplesPerPack') Minimum Number of Samples Per Pack 
          input#minSamplesPerPack.form__input(type='text',placeholder='8', required)
        .form__group.ma-bt-md
          label.form__label(for='artistType') What three artists/producers are you compared to most
          input#artistType.form__input(type='text', required, minlength='8')
        .form__group.ma-bt-md
          label.form__label(for='youtubeLink') URL for your Producer Youtube Channel
          input#youtubeLink.form__input(type='text', required)  
        .form__group.ma-bt-md 
          label.form__label(for='subscriptionName') Subscription Name
          input#subscriptionName.form__input(type='text', required)
        .form__group.ma-bt-md 
          label.form__label(for='description') Description
          input#description.form__input(type='text', required, minlength='3')
        .form__group.ma-bt-md 
          label.form__label(for='price') Price
          input#price.form__input(type='text',placeholder='10', required)   
        .form__group
          button.btn.btn--green Create Producer